/* .montserrat-<uniquifier> {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */


  *{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Montserrat' ,sans-serif;
  }

  .main{
    display: flex;
    height: 100vh;
  }
  .sidebar{
    background-color: #121212;
    width: 340px;
    border-radius: 1rem;
    border: 2px solid white;
  }
  .main-content{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    border: 2px solid white;

  }
  .player-bar{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
  }